.board-card{
    padding: 22px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 70px;
}

.board-main-row{
    margin-top: 3%;
    
}

.item-margin{
margin-bottom: 10px;
}

.action-button{
    background-color: #72c3dc;
    box-shadow: 3px 1px #72c3dc;
    color: #ffffff;
}

.board-mobile-card{
    color: gary;
    background-color: #EFEFEF;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
}
.md-heading{
    background-color: #BFBFBF; text-align: center;
    margin-top: 10px;
}

.mobile-heading{
    background-color: #000000; text-align: center;
    margin-top: 10px;
    color: #ffffff;
}


/* #2B8EAD */
/* #EFEFEF */
/* #333333 */

/* #72c3dc */